.carousel-slide {
  margin-right: 30px;
  box-sizing: border-box;
}

.carousel__item-container {
  height: 100%;
}

.slider {
  .slick-list {
    overflow: visible;
    padding: 0 15px;
  }

  .slick-track {
    margin-left: -15px;
    margin-right: -15px;
  }

  .carousel-slide {
    padding: 0 15px;
    box-sizing: border-box;
  }
}